main {
  margin: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 991px) {
    max-width: 100%;
  }

  canvas {
    max-width: 100%;
  }
}

header {
  margin: 2rem auto;
  width: 500px;

  p,
  a {
    color: #fff;
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
